/****** MAIN PAGE ******/
body {
	background-color: rgb(25,24,36);
	font-family: 'Quicksand', sans-serif;
	box-sizing: border-box;
}

video#tv-vid {
		opacity: .4;
    position: fixed;
    top: 50%;
    left: 50%;
		background-size: cover;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

#name {
	color: white;
	text-align: center;
	font-size: 1.2rem;
	letter-spacing: 2px;
}

#hello{
	margin: 0 auto;
	margin-top: 20%;
	position: absolute;
	display: inline-block;
	color: white;
	font-size: 5rem;
	font-weight: bold;
	text-align: center;
	left: 0;
	right: 0;
}

#web-dev {
	bottom: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 1.2rem;
	letter-spacing: 2px;
}

/****** MODALS ******/

#about {
	writing-mode: tb-rl;
	-webkit-transform: rotate(181deg);
	-moz-transform: rotate(181deg);
	-o-transform: rotate(181deg);
	float: left;
	color: white;
	margin-left: 2rem;
	letter-spacing: 2px;
	display: inline-block;
	margin-top: 20%;
}

#portfolio {
	writing-mode: vertical-lr;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	float: right;
	color: white;
	margin-right: 2rem;
	letter-spacing: 2px;
	display: inline-block;
	margin-top: 20%;
}

.close {
	color: black;
	float: right;
}

/****** ABOUT MODAL ******/
#modal-about {
	font-family: helvetica;
	visibility: hidden;
	z-index: 1000;
}

.modal div {
	color: black;
	display:  inline-block;
	position: absolute;
	top: 3rem;
	bottom: 3rem;
	left: 3rem;
	right: 3rem;
  background-color: white;
  text-align:left;
	padding: 3rem;
	margin: 1rem;
}

#picture {
	float: right;
	position: relative;
	height: 550px;
	width: 350px;
	margin-right: 5rem;
	top: 5.6rem;
	bottom: 0;
}

#modal-about h3 {
	line-height: .8rem;
	margin-top: -.7rem;
	margin-bottom: 2rem;
	font-weight: lighter;
}

#bagel {
	font-weight: 600;
}

#modal-about p {
	font-size: 1.1rem;
	font-weight: 300;
}

#modal-about h4 {
	margin-top: 2rem;
	font-size: 1.2rem;
	margin-bottom: .3rem;
}

.link {
	color: black;
	font-size: 1.05rem;
	text-transform: none;
	font-weight: lighter;
}

#modal-about h5 {
	margin-top: 2rem;
	font-size: 1rem;
	margin-bottom: .3rem;
}

#modal-about h6 {
	margin-top: 0rem;
	font-size: 1rem;
	font-weight: lighter;
}

/****** PORTFOLIO MODAL ******/

#modal-portfolio {
 	visibility: hidden;
 	z-index: 1000;
}

#slides {
    position: relative;
    height: 100%;
		width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
		font-size: 1rem;
		color: black;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 4s;
    -moz-transition: opacity 4s;
    -o-transition: opacity 4s;
    transition: opacity 4s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

img {
	position: relative;
	margin-top: -3rem;
	width: 80%;
	height: 90%;
	left: 10%;
}

button {
	font-size: 4rem;
	background:none;
  border:none;
	color: rgb(180,178,178);
}

button:nth-of-type(1) {
	margin-left: -6rem;
  position: absolute;
  margin-top: 10rem;
}

button:nth-of-type(2) {
	margin-left: 50rem;
	position: absolute;
	margin-top: -16rem;
}
